html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-1: #ef476f;
  --color-2: #ffd166;
  --color-3: #06d6a0;
  --primaryFont: "Work Sans", sans-serif;
}

// Variables we cant assign to root
$bp-sm: 468px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;
