.text-block {
  padding: 4rem var(--inset) 0;

  @media screen and (min-width: $bp-md) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: $bp-xl) {
    padding-top: 1.5rem;
  }
}
