html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-1: #ef476f;
  --color-2: #ffd166;
  --color-3: #06d6a0;
}

// Breakpoints
.wrapper {
  background-color: rosybrown;
}

@media screen and (min-width: 468px) {
  .wrapper {
    background-color: teal;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-color: chartreuse;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    background-color: white;
  }
}
