.picture-box__parent {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    margin-left: 0;
  }
}

.picture-box__wrapper {
  padding-top: 57px;
  padding-bottom: 110px;
  padding-right: 106px;
  width: 100%;
  max-width: 600px;
  padding-right: 20%;
  background: rgba(0, 0, 200, 0.2);
  padding: 0;
  padding-top: 10%;
  padding-bottom: 20%;
  position: relative;
}

.picture-box {
  &--1 {
    // background: pink;
    // padding-top: calc(9 / 16 * 100%);
    // width: auto;
    // height: auto;
    // background: var(--color-1);
    // width: 486px;
    // height: 285px;
    width: 80%;

    .box {
      background: var(--color-1);
      padding-top: calc(9 / 16 * 100%);
    }
  }
  &--2 {
    // background: blue;
    // padding-top: calc(9 / 16 * 100%);
    // transform: scale(0.5);
    // transform-origin: top right;
    // background: var(--color-3);
    // width: 293px;
    // height: 172px;
    // position: absolute;
    // top: -57px;
    // right: -106px;
    // top: 0;
    // right: 0;
    width: calc(80% * 0.6);
    position: absolute;
    top: 0;
    right: 0;
    .box {
      background: var(--color-3);
      padding-top: calc(9 / 16 * 100%);
    }
  }
  &--3 {
    // background: yellow;
    // background: var(--color-2);
    // width: 132px;
    // height: 196px;
    // position: absolute;
    // left: 207px;
    // bottom: -110px;
    // bottom: 0;
    width: calc(80% * 0.6 * 0.6 * 9 / 16);
    position: absolute;
    bottom: 0;
    right: 0;
    right: calc(80% * 0.6);
    transform: translate3d(50%, 0, 0);
    .box {
      background: var(--color-2);
      padding-top: calc(16 / 9 * 100%);
    }
  }
}
