@import "_normalize";
@import "_typography";
@import "base";

// Component Pieces
@import "wrapper";
@import "column1";
@import "picture-box";
// @import "picture-box-color";
@import "text-block";

svg {
  fill: green;
  path {
    fill: inherit;
  }
}

.svg-bucket {
  display: none;
}
