@import "_normalize";
@import "_typography";
@import "base";

// Component Pieces
@import "column1";
@import "picture-box";
@import "text-block";
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 3rem;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -3rem;
  margin-right: -3rem;
  > div {
    padding: 0 3rem;
  }

  flex-direction: column;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.col--2 {
  flex: 0 0 50%;
  > div {
    position: relative;
  }

  h2 {
    font-size: 48px;
    color: var(--color-3);
  }
}

.debug {
  .col--2 {
    // background: green;
  }

  .picture-box__wrapper {
    // background: tan;
  }
}

// Debug
// Breakpoints
.wrapper {
  background-color: rosybrown;
}

@media screen and (min-width: $bp-sm) {
  .wrapper {
    background-color: teal;
  }
}

@media screen and (min-width: $bp-md) {
  .wrapper {
    background-color: chartreuse;
  }
}

@media screen and (min-width: $bp-lg) {
  .wrapper {
    background-color: white;
  }
}

@media screen and (min-width: $bp-xl) {
  .wrapper {
    background-color: purple;
  }
}
